XML/Actividades 5/Actividad 5.1/Actividad 5.1.dtd

<!ELEMENT aeropuerto (avion*)>
<!ELEMENT avion (modelo, compañia, num_vuelo, prioridad, localizacion,combustible)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT compañia (#PCDATA)>
<!ELEMENT num_vuelo (#PCDATA)>
<!ELEMENT prioridad (#PCDATA)>
<!ELEMENT localizacion (puerta, letra)>
<!ELEMENT puerta (#PCDATA)>
<!ELEMENT letra (#PCDATA)>
<!ELEMENT combustible (litros, temperatura)>
<!ELEMENT litros (#PCDATA)>
<!ELEMENT temperatura (#PCDATA)>